doctype html
html
  head
    title  Compare Leaflet and Openlayers3 Websocket / Socket.io 
    meta(http-equiv='cache-control', content='no-cache, must-revalidate, post-check=0, pre-check=0')
    meta(http-equiv='expires', content='Sat, 31 Oct 2014 00:00:00 GMT')
    meta(http-equiv='pragma', content='no-cache')

